* {
    margin: 0;
    padding: 0;
    background-color: #ffffff(243, 235, 144);
    font-family:Arial, Helvetica, sans-serif;
}

.all {
    margin: auto;
    padding: 0px;
    width: 80%;
    
}

h1 {
    text-align: left;
    color: #050444;
    font-size: 3em;
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif;
    display: block;
    
}

.nav_bar {
    float: right;
    margin-top: 44px;
    
    text-align: center;
}

.nav_bar a {
    display: inline;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 20px;
    color: #000000c4;
}
.nav_bar a:link {
    color: #000000c4;
}

.nav_bar a:hover {
    background-color: #050444;
    color: #ffffff;
    border-radius: 6px;
}

#home {
    width: 100%;
    margin: auto;
}

#home h2 {
    color: #000000c4;
    color: #050444;
    text-align: center;
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

#home p {
    color: #000000c4;
    text-align: center;
    

}

/** Arts.html **/

.art_image {
    margin-top: 10px;
    width: 100%;
    
}

.art_image img {
    border-radius: 8px;
    width: 30%;
    float: left;
    border: 2px solid #050444;

}

.art_image h2 {
    margin-top: 95px;
}

.art_image h2, p {
    padding: 5px;
    width: 50%;
    float: left;
    margin-left: 10px;
}


