* {
    margin: 0;
    padding: 0;
    color: #334B8B;
}

body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
   
}

@keyframes animation-opacity {
    0%   {opacity: 0%;}
    25%  {opacity: 25%;}
    50%  {opacity: 50%;}
    75%  {opacity: 75%;}
    100% {opacity: 100%;}
}

#opacity-animation {
    animation: animation-opacity ;
    animation-duration: 1.5s;
}

hr {
    margin: 0 15px;
    float: inline-end;
    border: 3px solid #334B8B;
    border-radius: 3px;
}

#brand-van-gogh {
    text-decoration: none;
    color: #021438;
}

#navbar ul li a{
    color: #021438;
}

#navbar ul li a:hover {
    color: #334B8B;
    font-size: 1.2em;
}

#color-text {
    color: #334B8B;
}

#banner-img {
    width: 100%;
}
